<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="stylesheet" href="/styles/user.css" />

    <title>Account</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ParkingLots</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <a class="nav-link" href="#">Connection</a>
            <a class="nav-link" href="#">Support</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a
              class="nav-link active"
              id="account-btn"
              aria-current="page"
              href="#"
            >
              <i class="material-icons">account_circle</i><%= user.firstName %>
            </a>
            <form action="/logout" method="POST">
              <button class="logout-btn">logout</button>
            </form>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="img">
        <h1>My Profile</h1>
        <img
          src="https://wallpaperaccess.com/full/1122759.jpg"
          alt=""
          class="profile-photo"
        />
        <button class="editprofile-btn">Change Profile Photo</button>
      </div>
      <div class="info">
        <div class="input">
          <label for="fname">First Name</label>
          <input
            type="text"
            placeholder=""
            id="fname"
            name="firstName"
            value="<%=user.firstName%>"
          />
        </div>
        <div class="input">
          <label for="lname">Last Name</label>
          <input
            type="text"
            placeholder=""
            id="lname"
            name="lastName"
            value="<%= user.lastName %> "
          />
        </div>
        <div class="input">
          <label for="id-no">ID Number</label>
          <input
            type="text"
            placeholder=""
            id="id-no"
            name="idNo"
            value="<%=user.idNo%>"
          />
        </div>
        <div class="input">
          <label for="car-no" id="car-no">Vehicle Registration Number</label>
          <input
            type="text"
            placeholder=""
            id="car-no"
            name="carNo"
            value="<%=user.carNo%>"
          />
        </div>
        <div class="input" id="birthday">
          <label for="birthday" id="birthday">Date of Birth</label>
          <input
            type="date"
            id="birthday"
            name="birthday"
            value="<%=user.birthday %>"
          />
        </div>
        <div class="input">
          <label for="email" id="email">Email Address</label>
          <input
            type="email"
            placeholder=""
            id="email"
            name="email"
            value="<%=user.email%>"
          />
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
      integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
      integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
